#cart-row {
    padding: 15px;
}

.cart-header {
    text-align: center;
}

#orange-link {
    color: #F96302
}

#collection {
    display: flex;
    padding: 30px;
}

.cart-tool {
    border: 1px solid rgba(0,0,0,.125);
    padding: 1.5em;
    margin-bottom: 1.5em;
}

.cart-tool-img {
    width: 150px;
}

#cart-prices {
    font-weight: bold;
}

#addIcon {
    margin-left: .5em;
    font-size: 40px;
    text-decoration: none;
    color: black;
    &:hover {
        opacity: .7
    }
}

#subtractIcon {
    margin-left: .25em;
    font-size: 40px;
    text-decoration: none;
    color: black;
    &:hover {
        opacity: .7
    }
}

#removeIcon {
    color: black;
    &:hover {
        opacity: .7;
        text-decoration: underline;
    }
}

#cart-submit {
    background-color: #F96302;
    border-color: #F96302;
}

.cart-total {
    margin-left: 1.5em;
    border: 1px solid rgba(92, 87, 87, 0.125);
    padding: 1.5em
}

#cart-total-header {
    border: 3px solid #F96302;
}

.total-price {
    text-align: center;
}