#cart-row {
    padding: 15px;
}

.cart-header {
    text-align: center;
}

#orange-link {
    color: #F96302
}

.collection {
    display: flex;
}

.cart-tool {
    border: 1px solid rgba(0,0,0,.125);
    padding: 1.5em
}

.cart-tool-img {
    width: 150px;
}