#noMatchHeader {
    position: absolute;
    text-align: center;
    justify-content: center;
    color: black;
    left: 0;
    right: 0;
    font-size: 10vw;
    font-family: 'Alfa Slab One';
    font-weight: bolder;
}
