#jumbotron {
    margin-top: 32px;
}

h1 {
    font-family: Helvetica;
    font-weight: bolder;
}

#youtubeLink {
    background-color: #F96302;
    border: none;
}

#learnSection {
    padding: 20px;
}
