#single-tool {
    padding: 30px;
}

#single-tool-breadCrumbs {
    color: #F96302
}

.single-tool-img {
    border: 1px solid rgba(0,0,0,.125);
}

.single-tool-name {
    text-align: center;
}

.single-tool-category {
    text-align: center;
}

#single-tool-prices {
    background-color: #f8f9fa;
    border: none;
    margin-top: 20%;
    th{
        border: none;
    };
    td{ 
        border: none;
        font-size: 1.5rem;
    };
}

#single-tool-button {
    background-color: #F96302;
    border-color: #F96302;
}